# Alcohol Dataset Excercise

##### Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.
#### Step 1. Import the necessary libraries

In [3]:
import numpy as np
import pandas as pd

In [7]:
drinks = pd.read_csv('../DSML34 Project/drinks.csv')

In [11]:
drinks.shape

(193, 6)

In [43]:
drinks

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF
...,...,...,...,...,...,...
188,Venezuela,333,100,3,7.7,SA
189,Vietnam,111,2,1,2.0,AS
190,Yemen,6,0,0,0.1,AS
191,Zambia,32,19,4,2.5,AF
192,Zimbabwe,64,18,4,4.7,AF

#### Step 4. Which continent drinks more beer on average?

In [37]:
avg_beer = drinks.groupby('continent')['beer_servings'].mean()

In [57]:
max_beer_continent = avg_beer.idxmax()
max_beer_continent

'EU'

#### Step 5. For each continent print the statistics for wine consumption.

In [88]:
wine_stat = drinks.groupby('continent')['wine_servings'].describe()
wine_stat

           count        mean        std  min   25%    50%     75%    max
continent
AF          53.0   16.264151  38.846419  0.0   1.0    2.0   13.00  233.0
AS          44.0    9.068182  21.667034  0.0   0.0    1.0    8.00  123.0
EU          45.0  142.222222  97.421738  0.0  59.0  128.0  195.00  370.0
OC          16.0   35.625000  64.555790  0.0   1.0    8.5   23.25  212.0
SA          12.0   62.416667  88.620189  1.0   3.0   12.0   98.50  221.0

#### Step 6. Print the mean alcohol consumption per continent for every column

In [91]:
drinks.head(2)

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU

In [97]:
mean_consumption = drinks.groupby('continent').mean(numeric_only=True)
mean_consumption

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
continent,,,,
AF,61.471698,16.339623,16.264151,3.007547
AS,37.045455,60.840909,9.068182,2.170455
EU,193.777778,132.555556,142.222222,8.617778
OC,89.687500,58.437500,35.625000,3.381250
SA,175.083333,114.750000,62.416667,6.308333

#### Step 7. Print the median alcohol consumption per continent for every column

In [100]:
median_consumption = drinks.groupby('continent').median(numeric_only=True)
median_consumption

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
continent,,,,
AF,32.0,3.0,2.0,2.30
AS,17.5,16.0,1.0,1.20
EU,219.0,122.0,128.0,10.00
OC,52.5,37.0,8.5,1.75
SA,162.5,108.5,12.0,6.85

#### Step 8. Find out (list) the names of countries which shows no cosumption of any kind of drink

In [103]:
drinks.head(2)

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU

In [111]:
no_consumption = drinks[(drinks['beer_servings'] == 0) & 
                        (drinks['spirit_servings'] == 0) & 
                        (drinks['wine_servings'] == 0) & 
                        (drinks['total_litres_of_pure_alcohol'] == 0)]

In [119]:
no_alcohol_consumption_contries = list(no_consumption['country'])
no_alcohol_consumption_contries

['Afghanistan',
 'Bangladesh',
 'North Korea',
 'Iran',
 'Kuwait',
 'Libya',
 'Maldives',
 'Marshall Islands',
 'Mauritania',
 'Monaco',
 'Pakistan',
 'San Marino',
 'Somalia']

#### Step 9. Find out (list) the names of countries which has more wine_servings than beer_servings from Europe

In [146]:
europe_wine_more_than_beer = drinks[(drinks['continent'] == 'EU') & (drinks['wine_servings'] > drinks['beer_servings'])]
europe_wine_more_than_beer_contries = list(europe_wine_more_than_beer['country'])

In [148]:
europe_wine_more_than_beer_contries

['Andorra',
 'Croatia',
 'Denmark',
 'France',
 'Georgia',
 'Greece',
 'Italy',
 'Luxembourg',
 'Montenegro',
 'Portugal',
 'Slovenia',
 'Sweden',
 'Switzerland']

#### Step 10. Find out (list) the names of countries from Asia which has more beer consumption than avg beer_consumption of Europe

In [169]:
europe_avg_beer = drinks[drinks['continent'] == 'EU']['beer_servings'].mean()

In [171]:
asia_countries_more_beer_than_europe_avg = drinks[(drinks['continent'] == 'AS') & (drinks['beer_servings'] > europe_avg_beer)]

In [175]:
list(asia_countries_more_beer_than_europe_avg['country'])

['Russian Federation']